<% provide(:title, "Log in") %>

<div class="col-xs-12 img" >
  <%= image_tag("logo.png", alt: "Waste Not Want Not",id: "logo_big") %>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 center"><br>New user?
        <%= link_to " Sign up now!", signup_path %></br>
      </div>
    </div>
  </div>
</div>
