<% provide(:title, "Sign Up") %>
<body>
  <header>
        <div class="container">
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",   root_path %></li>
              <li><%= link_to "Help",   help_path %></li>
              <li><%= link_to "Log in", login_path %></li>
            </ul>
          </nav>
        </div>
      </header>

      <!--Logo-->

      <div class="col-xs-12 img" >
        <%= image_tag("logo.png", alt: "Waste Not Want Not",id: "logo_big") %>
      </div>

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.submit "Create my account", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>


      <!--link back to sign in-->
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 center"><br>Already A Member?
          <%= link_to "Click here",   login_path %></br>
        </div>
      </div>

</body>
